{% extends "website/base_layout.html" %}
{% load widget_tweaks %}

{% block title %} {{ restaurant.title }}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h3><strong>Review for {{ restaurant.title }}</strong></h3>
            <form action="" method="POST">
                {% csrf_token %}
                <h5>Rate:</h5>
                <div class="flex-row">

                    {% for number in "12345" %}

                        <div class="radio">
                            <label>
                                <input type="radio" name="rate" value="{{ number }}"><span
                                    class="circle"></span><span
                                    class="check"></span>
                                {{ number }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {{ form.rate.errors }}


                {% render_field form.comment required=True class+="form-control" placeholder="Review" rows="2" %}
                {{ form.comment.errors }}
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Publish</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
